/*
colors: #414288 #ffffff #E6E8E6 #CED0CE #191919
*/
body{
    font-family: 'Fira Sans', sans-serif;
}
header{
    background-color: #CED0CE;
    display: grid;
    grid-template-columns: 33vw auto 75px;

}

#meetgreat{
    text-align: center;
}
header div{
    background-color: #414288;
    color: #ffffff;
    grid-column: 1/4;
    grid-row: -1/-2;
}
h1{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#logo{
    width: 33vw;
    grid-column: 1/2;
    grid-row: 1/3;
}
header nav{
    grid-column: 1/4;
    grid-row: 3/4;
}
#socialLink{
    grid-column: 3/4;
    grid-row: 1/3;
    text-decoration: none;
    list-style-type: none;
    display: inline;
}
time{
    padding-left: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
    padding: 10px;
}



/**/
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #414288;

}
nav {
    background-color: #E6E8E6;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #191919;
    border-top: 1px solid rgba(206, 208, 206, 0.7);
}

.socialLink{
    display: inline;
}

nav ul li.active a {
    background-color: rgba(206, 208, 206);
}

nav ul li a:hover {
    background-color: rgba(206, 208, 206, 0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hBtn span:nth-child(1) {display: block;}
#hBtn span:nth-child(2) {display: none;}

#hBtn.open span:nth-child(1) {display: none;}
#hBtn.open span:nth-child(2) {display: block;}
/**/


a {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
a:hover{
    background-color: #414288;
    color: #ffffff;
}
a:active{
    color: #CED0CE;
}

.heading{
    color: #414288;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 10px;
    text-align: center;
}
main section{
    background-color: #E6E8E6;
    border: 1px #191919;
    border-radius: 150px;
    padding: 20px;
}
.herodiv{
    margin: 10px auto;
	position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #ffffff;
    padding: 0%;
}

.herodiv picture source{
    width: 100%;
    height: auto;
}
.herodiv picture img{
    width: 100%;
    height: auto;
}
#hero-image{
    width: 100%
}
#hero{
    height: 0;
    background-color: #ffffff;
}
#cta{
    background-color: #414288cb;
    color: #ffffff;
    font-size: 1.5em;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    top: 25px;
    left: 20px;
}

#news{
    grid-row: 2/3;
}
#events{
    grid-row: 3/4;
}
#weather{
    grid-row: 4/5;
}
#weather img{
    max-width: 175px;
}
#weather section{
    border-top: 2px solid rgb(255, 255, 255);
    border-radius: 0px;
    padding: 5px 20px 0px 20px;
    margin: 8px 35px 16px 35px;
}
/*#windSection{
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;
}*/
section span h3{
    float: right;
    font-size: 2em;
    padding-right: 5px;
}
section h3{
    font-size: 1.5em;
    margin: 12px 0px 0px 0px;
}
#join{
    grid-row: 5/6;
}
#highlights{
    grid-column: 1/3;
}
#highlights h3 {
    padding-top: 5px;
    font-size: 1.5em;
}
.company {
    background-color: #CED0CE;
    box-shadow: 5px 5px #adadad;
    border-radius: 150px;
}
section div img{
    width: 40vw;
}
section img{
    height: 30vw;
}
#joinButton{
    background-color: #414288;
    border: 1px #191919;
    color: white;
    padding: 21px 39px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
#joinButton:hover{
    background-color: #CED0CE;
    border: 1px #191919;
    color: #191919;
}


footer{
    color: #414288;
    background-color: #E6E8E6;
    padding: 15px;
}
#facebook{
    padding: 10px;
    padding-left: 13px;
    padding-right: 12px;
}

/*--------------Discover Page-----------*/
.discover-title{
    font-size: 2em;
    color: #ffffff;
    background-color: #414288;
    border-radius: 5px;
    padding: 3px;
    margin: 10px 80px 0px 80px;
}
.demograph ul li{
    list-style-type: none;
    text-align: center;
    padding: 2px;
}
.discover-img img{
    width: 100%;
    max-width: 850px;
}
figcaption{
    padding-top: 5px;
    padding-bottom: 10px;
}
.shape{
    height: 0;
    width: 0;
    background-color: #ffffff;
}
.insideShape{
    height: 0px;
    width: 0;
    background-color: #ffffff;
}