@media only screen and (min-width: 40em){

    header{
        display: grid;
        grid-template-columns: 200px auto 100px;
    }
    h1{
        grid-column: 2/3;
        grid-row: 1/3;
        font-size: 2.5em;
    }
    #logo{
        grid-column: 1/2;
        grid-row: 1/3;
        width: 200px;
    }
    header nav{
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .socialLink{
        grid-column: 3/4;
        grid-row: 1/3;
    }
    time{
        padding-left: 10px;
        grid-column: 2/4;
        grid-row: 2/3;
        text-align: right;
        padding: 10px;
    }


    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    .herodiv{
        position: relative;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #hero-image{
        width: 100%;
    }
    #cta{
        background-color: #414288cb;
        color: #ffffff;
        font-size: 2em;
        position: absolute;
        padding: 10px;
        border-radius: 5px;
        top: 25px;
        left: 50px;
    }
    #news{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #events{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #weather{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    section img{
        height: 150px;
    }

    #join{
        grid-column: 1/3;
        grid-row: 6/7;
    }

    section div img{
        height: 100%;
        max-height: 230px;
        width: auto;
    }
/*-------Discover page--------*/
    picture{
        overflow: hidden;
    }
    .discover-img img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .discover-img img:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    .demograph{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .imgList{
        grid-column: 2/3;
        grid-row: 1/6;
    }
    .thingsToSee{
        grid-column: 1/2;
        grid-row: 3/5;
    }
}