body{
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    background-color: #279bb3;
}
header{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    background-color: #07b578;
    box-shadow: 4px 4px 5px #00422b;
    text-align: center;
}
footer{
    background-color: #07b578;
    box-shadow: 4px 4px 5px #00422b;
    padding: 5px;
}
#profilepic{
    width: 10em;
    padding: 15px;
    grid-column: 1/2;
}
#myName{
    grid-column: 2/5;
}
li{
    padding: 5px;
}
#gear{
    width: 50em;
    opacity: 0.8;
    float: left;
}